/* SkillsStyles.module.css */
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skillItem {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust spacing as needed */
}

.icon {
  font-size: 24px; /* Adjust size as needed */
  /* Do not set a specific color here to retain default icon colors */
}

.skillName {
  font-size: 18px; /* Adjust size as needed */
}

.skillList {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-wrap: wrap;
  row-gap: 40px;
  max-width: 26ch;
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 30px auto;
}

@media (min-width: 800px) {
  .skillList {
    max-width: fit-content;
    gap: 30px;
  }

  hr {
    width: 300px;
  }
}

/* SkillsStyles.module.css */

.container {
  /* Center the content and add padding if needed */
  text-align: center;
  padding: 1rem;
}

.skillsImage {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  height: auto;    /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Add some border-radius */
  /* Add a margin to ensure spacing around the image */
  margin: 0 auto; /* Center the image horizontally */
}

.sectionTitle {
  /* Styles for the section title */
  font-size: 2rem;
  margin-bottom: 1rem;
}
